@using FriendsList.Controllers
@model List<FriendViewModel>;

<div>
    <h2>Friends list </h2>
<table>
	<tr>
		<td><p>  Friend name:  </p></td>
		<td><p>  Place:  </p></td>
	</tr>

	@foreach (var m in Model)
	{
		<tr>
			<td><p>@m.FriendName</p></td>
			<td><p>@m.Place</p></td>
			<td><p><a href="@Url.Action(nameof(FriendController.Edit))/@m.Id"> edit </a></p></td>
			<td><p><a href="@Url.Action(nameof(FriendController.Delete))/@m.Id"> delete </a></p></td>
		</tr>
	}
    </table>
</div>

<div style="display:block">
	<a href="@Url.Action(nameof(FriendController.Create))"> Create </a>
</div>