@using FriendsList.Controllers
@model List<FriendViewModel>;

    @foreach (var m in Model) {
	<div style="display:block">
		Friend #@m.Id "@m.FriendName" has place  @(m.Place)cm
		<a href="@Url.Action(nameof(FriendController.Details))"> view </a>
		<a href="@Url.Action(nameof(FriendController.Edit))> edit </a>
		<a href="@Url.Action(nameof(FriendController.Delete))> delete </a>
	</div>
}
<div style="display:block">
	<a href="@Url.Action(nameof(FriendController.Create))"> Create </a>
</div>